<!DOCTYPE html>
<html lang="pl" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head layout:fragment="head">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet">
    <style>
        .header {
            background: darkcyan;
        }
        .content {
            background: lightcyan;
        }
        .footer {
            background: darkcyan;
        }
    </style>
</head>
<body>

<header layout:fragment="header" class="header">
    <h1>Super firma - Firma-Pol</h1>
</header>

<section layout:fragment="navbar">
<nav class="navbar" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Nawigacja strony</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/regulamin">Regulamin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kontakt">Formularz Kontaktowy</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </nav>
</section>

<section layout:fragment="content" class="content">
    <p>Jesteśmy prężnie rozwijającą się firmą działającą na rynkach</p>
    <p>Chcemy Cię zaprosić do współpracy przy naszych projektach</p>
    <p>Oferujemy to czego inni nie mają, choć mamy też to co oni mają</p>
</section>


<footer layout:fragment="footer" class="footer">
    <p>@copy Firm-Pol - odwiedź naszego fanPage'a</p>
</footer>

</body>
</html>